.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px;
}

.containerLanguage {
    display: none;
    font-family: Helvetica;
}

.img {
    width: 50%;
}

.menuIcon {
    font-size: 20px;
}

.searchIcon {
    display: none;
}

.closeIcon {
    font-size: 20px;
    cursor: pointer;
}

.userIcon {
    font-size: 20px;
}

.header {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: #F7F7F7;
    text-transform: capitalize;
    height: 36.8px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.pDate {
    font-weight: 900;
    font-size: 12px;
}

.pPaper {
    display: none;
}

.ulNav {
    display: none;
}

.form {
    text-align: center;
    padding: 20px;
}

.input {
    padding: 5px;
}

.button {
    padding: 5px;
    margin-left: 5px;
}

.ulForm li {
    font-size: 14px;
    font-family: Helvetica;
    list-style-type: none;
    margin-bottom: 20px;
    padding: 20px;
}

.section {
    padding: 10px 20px;
}

.queryResult {
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 10px;
}

.isClose {
    display: none;
}

.iconClose {
    display: none;
}

@media only screen and (min-width: 1070px) {
    .containerLanguage {
        display: block;
        position: absolute;
        top: 3%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .ulLanguage {
        display: flex;
        list-style-type: none;
    }

    .ulLanguage li {
        cursor: pointer;
        font-size: 12px;
        padding: 10px;
    }

    .ulLanguage li:hover {
        background-color: #F7F7F7;
    }

    .img {
        width: 500px;
    }

    .menuIcon {
        display: none;
    }

    .searchIcon {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }

    .closeIcon {
        font-size: 30px;
    }

    .userIcon {
        font-size: 30px;
        cursor: pointer;
    }

    .header {
        background-color: white;
        justify-content: center;
    }

    .pDate {
        font-family: Helvetica;
        position: absolute;
        top: 120px;
        left: 10%;
    }

    .pPaper {
        font-family: Helvetica;
        display: block;
        font-size: 12px;
        color: #121212;
        position: absolute;
        top: 140px;
        left: 10%;
    }

    .ulNav {
        display: flex;
    }

    .ulNav li {
        font-size: 14px;
        font-family: Helvetica;
        list-style-type: none;
        padding: 10px;
    }

    .ulForm li {
        display: none;
    }
}

@media only screen and (min-width: 1400px) {
    .ulNav li {
        padding: 20px;
    }
}